<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>pagina</title>
</head>
<body>
<h1 th:text=" ${titulo} "> </h1>
<table th:if=" ${usuarios.size()>0} ">
    <table border="3" align="center" bordercolor= #5F9EA0 cellspacing="0">
        <thead>
        <th height="50" width="150"  bgcolor=#E6E6FA>Nombre</th>
        <th height="50" width="150"  bgcolor=#E6E6FA>Apellido</th>
        <th height="50" width="150"  bgcolor=#E6E6FA>Email</th>
        </thead>
        <tbody>

        <tr th:each="usuario:${usuarios}">
            <td th:text="${usuario.nombre}"></td>
            <td  th:text="${usuario.apellido}"></td>
            <td th:text="${usuario.email}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>